In [2]:
#Import dependencies
import os
import pandas as pd
import psycopg2
import psycopg2.extras

In [3]:
#Database setup
databasekey = os.environ.get('keysql')
hostname = 'localhost'
username = 'postgres'
password = databasekey
database = 'energy_db'
connection = psycopg2.connect(host=hostname, user=username, password=password, dbname=database )

In [4]:
#Save all references needed to to the views
state_list = pd.read_sql_query('select * from "state_list"',con=connection)
state_data = pd.read_sql_query('select * from "state_data_by_year"',con=connection)
facility_data = pd.read_sql_query('select * from "facility_emissions_by_year"',con=connection)

In [5]:
state_data.head()

,state,state_name,region,region_group,year,state_year_rank,good_days_percent,bad_days_percent,generation_mwh_total,greenhouse_emissions,...,nox_mt_other_geothermal,generation_mwh_wind_wood,co2_mt_other_wind_wood,so2_mt_other_wind_wood,nox_mt_other_wind_wood,generation_mwh_nuclear,generation_mwh_pumped,generation_mwh_solar,generation_mwh_wind,generation_mwh_hydro
0,AK,Alaska,Pacific,West,1990,1,97.1,2.9,5599506.0,0.0,...,0.0,151035.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,974521.0
1,AK,Alaska,Pacific,West,1991,2,97.1,2.9,5389828.0,0.0,...,0.0,140381.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,896113.0
2,AK,Alaska,Pacific,West,1992,3,97.4,2.6,5298424.0,0.0,...,0.0,131934.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,918120.0
3,AK,Alaska,Pacific,West,1993,4,98.2,1.8,5721277.0,0.0,...,0.0,90504.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1302992.0
4,AK,Alaska,Pacific,West,1994,5,98.9,1.1,5966516.0,0.0,...,0.0,138142.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1345407.0

In [6]:
facility_data.head()

,facility_id,latitude,longitude,frs_id,facility_name,state,state_name,region,region_group,year,emissions_mt
0,1000001,48.828707,-122.685533,110000490166.0,PSE Ferndale Generating Station,WA,Washington,Pacific,West,2018,302529
1,1000033,34.058450,-117.775114,110028036033.0,San Gabriel Cogeneration Facility,CA,California,Pacific,West,2018,0
2,1000049,44.121200,-103.260800,110028229030.0,Lange,SD,South Dakota,West North Central,Midwest,2018,5929
3,1000050,44.286200,-105.384300,110041417829.0,Wygen I,WY,Wyoming,Mountain,West,2018,757847
4,1000051,37.796500,-121.604900,110055697107.0,"Mariposa Energy, LLC",CA,California,Pacific,West,2018,65311

In [7]:
#Create data json files
state_list.to_json('static/data/state_list.json')
state_data.to_json('static/data/state_data.json',orient='records')
facility_data.to_json('static/data/facility_data.json',orient='records')

FileNotFoundError: [Errno 2] No such file or directory: 'static/data/state_list.json'