Air Quality Index data

In [14]:
#Import dependencies
import pandas as pd
pd.set_option('display.max_rows', 500)
import os
import numpy as np
import re

In [2]:
# Import csv files
aqi_1990 = os.path.join("..", "Raw Data Files","AQI", "annual_aqi_by_cbsa_1990.csv")
aqi_1991 = os.path.join("..", "Raw Data Files","AQI", "annual_aqi_by_cbsa_1991.csv")
aqi_1992 = os.path.join("..", "Raw Data Files","AQI", "annual_aqi_by_cbsa_1992.csv")
aqi_1993 = os.path.join("..", "Raw Data Files","AQI", "annual_aqi_by_cbsa_1993.csv")
aqi_1994 = os.path.join("..", "Raw Data Files","AQI", "annual_aqi_by_cbsa_1994.csv")
aqi_1995 = os.path.join("..", "Raw Data Files","AQI", "annual_aqi_by_cbsa_1995.csv")
aqi_1996 = os.path.join("..", "Raw Data Files","AQI", "annual_aqi_by_cbsa_1996.csv")
aqi_1997 = os.path.join("..", "Raw Data Files","AQI", "annual_aqi_by_cbsa_1997.csv")
aqi_1998 = os.path.join("..", "Raw Data Files","AQI", "annual_aqi_by_cbsa_1998.csv")
aqi_1999 = os.path.join("..", "Raw Data Files","AQI", "annual_aqi_by_cbsa_1999.csv")
aqi_2000 = os.path.join("..", "Raw Data Files","AQI", "annual_aqi_by_cbsa_2000.csv")
aqi_2001 = os.path.join("..", "Raw Data Files","AQI", "annual_aqi_by_cbsa_2001.csv")
aqi_2002 = os.path.join("..", "Raw Data Files","AQI", "annual_aqi_by_cbsa_2002.csv")
aqi_2003 = os.path.join("..", "Raw Data Files","AQI", "annual_aqi_by_cbsa_2003.csv")
aqi_2004 = os.path.join("..", "Raw Data Files","AQI", "annual_aqi_by_cbsa_2004.csv")
aqi_2005 = os.path.join("..", "Raw Data Files","AQI", "annual_aqi_by_cbsa_2005.csv")
aqi_2006 = os.path.join("..", "Raw Data Files","AQI", "annual_aqi_by_cbsa_2006.csv")
aqi_2007 = os.path.join("..", "Raw Data Files","AQI", "annual_aqi_by_cbsa_2007.csv")
aqi_2008 = os.path.join("..", "Raw Data Files","AQI", "annual_aqi_by_cbsa_2008.csv")
aqi_2009 = os.path.join("..", "Raw Data Files","AQI", "annual_aqi_by_cbsa_2009.csv")
aqi_2010 = os.path.join("..", "Raw Data Files","AQI", "annual_aqi_by_cbsa_2010.csv")
aqi_2011 = os.path.join("..", "Raw Data Files","AQI", "annual_aqi_by_cbsa_2011.csv")
aqi_2012 = os.path.join("..", "Raw Data Files","AQI", "annual_aqi_by_cbsa_2012.csv")
aqi_2013 = os.path.join("..", "Raw Data Files","AQI", "annual_aqi_by_cbsa_2013.csv")
aqi_2014 = os.path.join("..", "Raw Data Files","AQI", "annual_aqi_by_cbsa_2014.csv")
aqi_2015 = os.path.join("..", "Raw Data Files","AQI", "annual_aqi_by_cbsa_2015.csv")
aqi_2016 = os.path.join("..", "Raw Data Files","AQI", "annual_aqi_by_cbsa_2016.csv")
aqi_2017 = os.path.join("..", "Raw Data Files","AQI", "annual_aqi_by_cbsa_2017.csv")
aqi_2018 = os.path.join("..", "Raw Data Files","AQI", "annual_aqi_by_cbsa_2018.csv")
aqi_2019 = os.path.join("..", "Raw Data Files","AQI", "annual_aqi_by_cbsa_2019.csv")

In [3]:
# Create dataframe from the imported csv
aqi_1990_df = pd.read_csv(aqi_1990)
aqi_1991_df = pd.read_csv(aqi_1991)
aqi_1992_df = pd.read_csv(aqi_1992)
aqi_1993_df = pd.read_csv(aqi_1993)
aqi_1994_df = pd.read_csv(aqi_1994)
aqi_1995_df = pd.read_csv(aqi_1995)
aqi_1996_df = pd.read_csv(aqi_1996)
aqi_1997_df = pd.read_csv(aqi_1997)
aqi_1998_df = pd.read_csv(aqi_1998)
aqi_1999_df = pd.read_csv(aqi_1999)
aqi_2000_df = pd.read_csv(aqi_2000)
aqi_2001_df = pd.read_csv(aqi_2001)
aqi_2002_df = pd.read_csv(aqi_2002)
aqi_2003_df = pd.read_csv(aqi_2003)
aqi_2004_df = pd.read_csv(aqi_2004)
aqi_2005_df = pd.read_csv(aqi_2005)
aqi_2006_df = pd.read_csv(aqi_2006)
aqi_2007_df = pd.read_csv(aqi_2007)
aqi_2008_df = pd.read_csv(aqi_2008)
aqi_2009_df = pd.read_csv(aqi_2009)
aqi_2010_df = pd.read_csv(aqi_2010)
aqi_2011_df = pd.read_csv(aqi_2011)
aqi_2012_df = pd.read_csv(aqi_2012)
aqi_2013_df = pd.read_csv(aqi_2013)
aqi_2014_df = pd.read_csv(aqi_2014)
aqi_2015_df = pd.read_csv(aqi_2015)
aqi_2016_df = pd.read_csv(aqi_2016)
aqi_2017_df = pd.read_csv(aqi_2017)
aqi_2018_df = pd.read_csv(aqi_2018)
aqi_2019_df = pd.read_csv(aqi_2019)

In [4]:
# Stack all dataframes in one
df_stacked = pd.concat([aqi_1990_df, aqi_1991_df, aqi_1992_df, aqi_1993_df, aqi_1994_df, aqi_1995_df, aqi_1996_df, aqi_1997_df, aqi_1998_df, aqi_1999_df, aqi_2000_df, aqi_2001_df, aqi_2002_df, aqi_2003_df, aqi_2004_df, aqi_2005_df, aqi_2006_df, aqi_2007_df, aqi_2008_df, aqi_2009_df, aqi_2010_df, aqi_2011_df, aqi_2012_df, aqi_2013_df, aqi_2014_df, aqi_2015_df, aqi_2016_df, aqi_2017_df, aqi_2018_df], axis=0)

In [5]:
df_stacked.head()

,CBSA,CBSA Code,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days SO2,Days PM2.5,Days PM10
0,"Aberdeen, WA",10140,1990,365,127,112,117,9,0,0,200,128,77,0,0,0,363,0,2
1,"Akron, OH",10420,1990,365,108,144,105,7,1,0,207,126,74,2,0,102,260,0,1
2,"Albany, OR",10540,1990,59,52,7,0,0,0,0,66,51,29,0,0,0,0,0,59
3,"Albany-Schenectady-Troy, NY",10580,1990,364,227,109,24,3,1,0,201,91,44,3,94,147,118,0,2
4,"Albuquerque, NM",10740,1990,365,155,184,24,2,0,0,169,93,56,71,27,240,0,0,27

In [6]:
# split the CBSA column to get only the state
df_stacked['State'] = df_stacked['CBSA'].apply(lambda x : x.split(", ")[1])

In [7]:
df_stacked.head()

,CBSA,CBSA Code,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days SO2,Days PM2.5,Days PM10,State
0,"Aberdeen, WA",10140,1990,365,127,112,117,9,0,0,200,128,77,0,0,0,363,0,2,WA
1,"Akron, OH",10420,1990,365,108,144,105,7,1,0,207,126,74,2,0,102,260,0,1,OH
2,"Albany, OR",10540,1990,59,52,7,0,0,0,0,66,51,29,0,0,0,0,0,59,OR
3,"Albany-Schenectady-Troy, NY",10580,1990,364,227,109,24,3,1,0,201,91,44,3,94,147,118,0,2,NY
4,"Albuquerque, NM",10740,1990,365,155,184,24,2,0,0,169,93,56,71,27,240,0,0,27,NM

In [8]:
# reorder columns
df_stacked = df_stacked[['State', 'Year', 'CBSA', 'CBSA Code', 'Days with AQI', 'Good Days', 'Moderate Days', 'Unhealthy Days', 'Unhealthy for Sensitive Groups Days', 'Very Unhealthy Days', 'Hazardous Days', 'Max AQI', '90th Percentile AQI', 'Median AQI', 'Days CO', 'Days NO2', 'Days Ozone', 'Days SO2', 'Days PM2.5', 'Days PM10']]

In [22]:
# Drop CBSA column (we only need state)
summary_df = df_stacked.drop(columns='CBSA')

In [26]:
# Check df
summary_df.head(10)

,State,Year,CBSA Code,Days with AQI,Good Days,Moderate Days,Unhealthy Days,Unhealthy for Sensitive Groups Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days SO2,Days PM2.5,Days PM10
0,WA,1990,10140,365,127,112,9,117,0,0,200,128,77,0,0,0,363,0,2
1,OH,1990,10420,365,108,144,7,105,1,0,207,126,74,2,0,102,260,0,1
2,OR,1990,10540,59,52,7,0,0,0,0,66,51,29,0,0,0,0,0,59
3,NY,1990,10580,364,227,109,3,24,1,0,201,91,44,3,94,147,118,0,2
4,NM,1990,10740,365,155,184,2,24,0,0,169,93,56,71,27,240,0,0,27
5,LA,1990,10780,333,260,57,0,16,0,0,143,84,38,0,0,325,0,0,8
6,PA-NJ,1990,10900,365,222,109,9,25,0,0,197,97,46,15,66,162,120,0,2
7,MI,1990,10940,144,101,24,0,19,0,0,142,105,26,15,0,0,129,0,0
8,PA,1990,11020,361,219,106,3,33,0,0,172,100,46,0,0,189,172,0,0
9,TX,1990,11100,13,13,0,0,0,0,0,28,24,14,0,0,0,0,0,13

In [35]:
# We need to split the values in the state column that have multiple states and duplicate the rest of the rows for each split. For this a function was created. This was done using
# https://gist.github.com/jlln/338b4b0b55bd6984f883#gistcomment-2972798
def splitDataFrameList(df,target_column,delimiters):
    ''' df = dataframe to split,
    target_column = the column containing the values to split
    separator = the symbol used to perform the split
    returns: a dataframe with each entry for the target column separated, with each element moved into a new row. 
    The values in the other columns are duplicated across the newly divided rows.
    '''
    regexPattern = "|".join(map(re.escape,delimiters))
    def splitListToRows(row,row_accumulator,target_column,regexPattern):
        split_row = re.split(regexPattern,row[target_column])
        for s in split_row:
            new_row = row.to_dict()
            new_row[target_column] = s
            row_accumulator.append(new_row)
    new_rows = []
    df.apply(splitListToRows,axis=1,args = (new_rows,target_column,regexPattern))
    new_df = pd.DataFrame(new_rows)
    return new_df

In [36]:
# Apply function to our dataframe
final_df = splitDataFrameList(summary_df, target_column='State', delimiters='-')

In [37]:
# Check result
final_df.head(10)

,State,Year,CBSA Code,Days with AQI,Good Days,Moderate Days,Unhealthy Days,Unhealthy for Sensitive Groups Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days SO2,Days PM2.5,Days PM10
0,WA,1990,10140,365,127,112,9,117,0,0,200,128,77,0,0,0,363,0,2
1,OH,1990,10420,365,108,144,7,105,1,0,207,126,74,2,0,102,260,0,1
2,OR,1990,10540,59,52,7,0,0,0,0,66,51,29,0,0,0,0,0,59
3,NY,1990,10580,364,227,109,3,24,1,0,201,91,44,3,94,147,118,0,2
4,NM,1990,10740,365,155,184,2,24,0,0,169,93,56,71,27,240,0,0,27
5,LA,1990,10780,333,260,57,0,16,0,0,143,84,38,0,0,325,0,0,8
6,PA,1990,10900,365,222,109,9,25,0,0,197,97,46,15,66,162,120,0,2
7,NJ,1990,10900,365,222,109,9,25,0,0,197,97,46,15,66,162,120,0,2
8,MI,1990,10940,144,101,24,0,19,0,0,142,105,26,15,0,0,129,0,0
9,PA,1990,11020,361,219,106,3,33,0,0,172,100,46,0,0,189,172,0,0

In [ ]:
# Export dataframe
final_df.to_csv(index=False)